
.pView {
    font-weight: bolder;
    font-size: 20px;

}

.sendReply {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;

}

.replayMessage {
    width: 100%;
    text-align: left;
    margin-left: 3%;
}

.buttonStyle {
    text-align: right;
    margin-right: 2%;
}
