.navbarMenu{
    display: flex;
    background-color: #1d8f8a;
}
.confLogo{
    width: 110px;
    height: 65px;
}

.logo-map{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: 5%;
    margin-top: 0.3%;
    gap: 20px;
}

.twoItems{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8%;
    gap: 60px;
}

.map-text,
.home,
.map-text:hover{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
}

.underline {
    background-image: linear-gradient(
            to right,
            #54b3d6,
            #54b3d6 50%,
            #000 50%
    );
    background-size: 203% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    transition: all 0.4s ease-in-out;
}

.underline:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

.underline:hover {
    background-position: 0;
}

.underline:hover::before {
    width:100%;
}
.active {
    color: blue;
}
