.navbar{
    display: flex;
    background-color: #6aa4a0;
}

.componentDiv {
    flex: 1;
    width: 100%;
    height: 100%;
}

.componentSpace {
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
}